soap-client/soap-client-sources/src/main/resources/wsdl/offers.wsdl

<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:sch="http://spring.io/guides/gs-producing-web-service" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://spring.io/guides/gs-producing-web-service" targetNamespace="http://spring.io/guides/gs-producing-web-service">
    <wsdl:types>
        <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://spring.io/guides/gs-producing-web-service">
            <xs:element name="getOfferRequest">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="id" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getOfferResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="offer" type="tns:offer"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getOffersRequest">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="offerStatus" type="tns:offerStatus"/>
                        <xs:element name="ownerId" type="xs:string"/>
                        <xs:element name="productId" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getOffersResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="offerList" type="tns:offer"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="createOfferRequest">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="offerStatus" type="tns:offerStatus"/>
                        <xs:element name="ownerId" type="xs:string"/>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="productIds" type="xs:string"/>
                        <xs:element name="price" type="xs:int"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="updateOfferRequest">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="id" type="xs:string"/>
                        <xs:element name="offerStatus" type="tns:offerStatus"/>
                        <xs:element name="ownerId" type="xs:string"/>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="productIds" type="xs:string"/>
                        <xs:element name="price" type="xs:int"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="deleteOfferRequest">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="id" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:complexType name="offer">
                <xs:sequence>
                    <xs:element name="id" type="xs:string"/>
                    <xs:element name="offerStatus" type="tns:offerStatus"/>
                    <xs:element name="offerOwner" type="tns:user"/>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="products" type="tns:product"/>
                    <xs:element name="price" type="xs:int"/>
                </xs:sequence>
            </xs:complexType>
            <xs:simpleType name="offerStatus">
                <xs:restriction base="xs:string">
                    <xs:enumeration value="NEW"/>
                    <xs:enumeration value="BOOKED"/>
                    <xs:enumeration value="WAITING_PAYMENT"/>
                    <xs:enumeration value="IN_PROGRESS"/>
                    <xs:enumeration value="COMPLETED"/>
                </xs:restriction>
            </xs:simpleType>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="createOfferRequest">
        <wsdl:part element="tns:createOfferRequest" name="createOfferRequest"> </wsdl:part>
    </wsdl:message>
    <wsdl:message name="getOfferResponse">
        <wsdl:part element="tns:getOfferResponse" name="getOfferResponse"> </wsdl:part>
    </wsdl:message>
    <wsdl:message name="getOffersRequest">
        <wsdl:part element="tns:getOffersRequest" name="getOffersRequest"> </wsdl:part>
    </wsdl:message>
    <wsdl:message name="getOffersResponse">
        <wsdl:part element="tns:getOffersResponse" name="getOffersResponse"> </wsdl:part>
    </wsdl:message>
    <wsdl:message name="getOfferRequest">
        <wsdl:part element="tns:getOfferRequest" name="getOfferRequest"> </wsdl:part>
    </wsdl:message>
    <wsdl:message name="updateOfferRequest">
        <wsdl:part element="tns:updateOfferRequest" name="updateOfferRequest"> </wsdl:part>
    </wsdl:message>
    <wsdl:message name="deleteOfferRequest">
        <wsdl:part element="tns:deleteOfferRequest" name="deleteOfferRequest"> </wsdl:part>
    </wsdl:message>
    <wsdl:portType name="OffersPort">
        <wsdl:operation name="createOffer">
            <wsdl:input message="tns:createOfferRequest" name="createOfferRequest"> </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="getOffer">
            <wsdl:input message="tns:getOfferRequest" name="getOfferRequest"> </wsdl:input>
            <wsdl:output message="tns:getOfferResponse" name="getOfferResponse"> </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getOffers">
            <wsdl:input message="tns:getOffersRequest" name="getOffersRequest"> </wsdl:input>
            <wsdl:output message="tns:getOffersResponse" name="getOffersResponse"> </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="updateOffer">
            <wsdl:input message="tns:updateOfferRequest" name="updateOfferRequest"> </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="deleteOffer">
            <wsdl:input message="tns:deleteOfferRequest" name="deleteOfferRequest"> </wsdl:input>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="OffersPortSoap11" type="tns:OffersPort">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="createOffer">
            <soap:operation soapAction=""/>
            <wsdl:input name="createOfferRequest">
                <soap:body use="literal"/>
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="getOffer">
            <soap:operation soapAction=""/>
            <wsdl:input name="getOfferRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="getOfferResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getOffers">
            <soap:operation soapAction=""/>
            <wsdl:input name="getOffersRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="getOffersResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="updateOffer">
            <soap:operation soapAction=""/>
            <wsdl:input name="updateOfferRequest">
                <soap:body use="literal"/>
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="deleteOffer">
            <soap:operation soapAction=""/>
            <wsdl:input name="deleteOfferRequest">
                <soap:body use="literal"/>
            </wsdl:input>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="OffersPortService">
        <wsdl:port binding="tns:OffersPortSoap11" name="OffersPortSoap11">
            <soap:address location="http://localhost:8080/ws"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>