soap-client/soap-client-sources/src/main/resources/wsdl/users.wsdl

<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:sch="http://spring.io/guides/gs-producing-web-service" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://spring.io/guides/gs-producing-web-service" targetNamespace="http://spring.io/guides/gs-producing-web-service">
    <wsdl:types>
        <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://spring.io/guides/gs-producing-web-service">
            <xs:element name="getUserRequest">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="id" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getUsersRequest">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="email" type="xs:string"/>
                        <xs:element name="name" type="xs:string"/>
                        <xs:element name="userRole" type="tns:userRole"/>
                        <xs:element name="gender" type="tns:gender"/>
                        <xs:element name="city" type="xs:string"/>
                        <xs:element name="age" type="xs:int"/>
                        <xs:element name="balance" type="xs:int"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getUsersResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="userList" type="tns:user"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="createUserRequest">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="email" type="xs:string"/>
                        <xs:element name="name" type="xs:string"/>
                        <xs:element name="password" type="xs:string"/>
                        <xs:element name="userRole" type="tns:userRole"/>
                        <xs:element name="gender" type="tns:gender"/>
                        <xs:element name="city" type="xs:string"/>
                        <xs:element name="age" type="xs:int"/>
                        <xs:element name="balance" type="xs:int"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="createUserResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="email" type="xs:string"/>
                        <xs:element name="name" type="xs:string"/>
                        <xs:element name="userRole" type="tns:userRole"/>
                        <xs:element name="gender" type="tns:gender"/>
                        <xs:element name="city" type="xs:string"/>
                        <xs:element name="age" type="xs:int"/>
                        <xs:element name="balance" type="xs:int"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="updateUserRequest">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="id" type="xs:string"/>
                        <xs:element name="email" type="xs:string"/>
                        <xs:element name="name" type="xs:string"/>
                        <xs:element name="userRole" type="tns:userRole"/>
                        <xs:element name="gender" type="tns:gender"/>
                        <xs:element name="city" type="xs:string"/>
                        <xs:element name="age" type="xs:int"/>
                        <xs:element name="balance" type="xs:int"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="deleteUserRequest">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="id" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="deleteUserResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="message" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="updateUserResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="email" type="xs:string"/>
                        <xs:element name="name" type="xs:string"/>
                        <xs:element name="userRole" type="tns:userRole"/>
                        <xs:element name="gender" type="tns:gender"/>
                        <xs:element name="city" type="xs:string"/>
                        <xs:element name="age" type="xs:int"/>
                        <xs:element name="balance" type="xs:int"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getUserResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="user" type="tns:user"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:complexType name="user">
                <xs:sequence>
                    <xs:element name="id" type="xs:string"/>
                    <xs:element name="email" type="xs:string"/>
                    <xs:element name="password" type="xs:string"/>
                    <xs:element name="name" type="xs:string"/>
                    <xs:element name="userRole" type="tns:userRole"/>
                    <xs:element name="gender" type="tns:gender"/>
                    <xs:element name="city" type="xs:string"/>
                    <xs:element name="age" type="xs:int"/>
                    <xs:element name="balance" type="xs:int"/>
                </xs:sequence>
            </xs:complexType>
            <xs:simpleType name="userRole">
                <xs:restriction base="xs:string">
                    <xs:enumeration value="ADMIN"/>
                    <xs:enumeration value="USER"/>
                </xs:restriction>
            </xs:simpleType>
            <xs:simpleType name="gender">
                <xs:restriction base="xs:string">
                    <xs:enumeration value="MALE"/>
                    <xs:enumeration value="FEMALE"/>
                    <xs:enumeration value="OTHER"/>
                </xs:restriction>
            </xs:simpleType>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="getUsersResponse">
        <wsdl:part element="tns:getUsersResponse" name="getUsersResponse"> </wsdl:part>
    </wsdl:message>
    <wsdl:message name="deleteUserResponse">
        <wsdl:part element="tns:deleteUserResponse" name="deleteUserResponse"> </wsdl:part>
    </wsdl:message>
    <wsdl:message name="getUsersRequest">
        <wsdl:part element="tns:getUsersRequest" name="getUsersRequest"> </wsdl:part>
    </wsdl:message>
    <wsdl:message name="updateUserResponse">
        <wsdl:part element="tns:updateUserResponse" name="updateUserResponse"> </wsdl:part>
    </wsdl:message>
    <wsdl:message name="getUserRequest">
        <wsdl:part element="tns:getUserRequest" name="getUserRequest"> </wsdl:part>
    </wsdl:message>
    <wsdl:message name="updateUserRequest">
        <wsdl:part element="tns:updateUserRequest" name="updateUserRequest"> </wsdl:part>
    </wsdl:message>
    <wsdl:message name="createUserRequest">
        <wsdl:part element="tns:createUserRequest" name="createUserRequest"> </wsdl:part>
    </wsdl:message>
    <wsdl:message name="createUserResponse">
        <wsdl:part element="tns:createUserResponse" name="createUserResponse"> </wsdl:part>
    </wsdl:message>
    <wsdl:message name="deleteUserRequest">
        <wsdl:part element="tns:deleteUserRequest" name="deleteUserRequest"> </wsdl:part>
    </wsdl:message>
    <wsdl:message name="getUserResponse">
        <wsdl:part element="tns:getUserResponse" name="getUserResponse"> </wsdl:part>
    </wsdl:message>
    <wsdl:portType name="UsersPort">
        <wsdl:operation name="getUsers">
            <wsdl:input message="tns:getUsersRequest" name="getUsersRequest"> </wsdl:input>
            <wsdl:output message="tns:getUsersResponse" name="getUsersResponse"> </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="deleteUser">
            <wsdl:input message="tns:deleteUserRequest" name="deleteUserRequest"> </wsdl:input>
            <wsdl:output message="tns:deleteUserResponse" name="deleteUserResponse"> </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="updateUser">
            <wsdl:input message="tns:updateUserRequest" name="updateUserRequest"> </wsdl:input>
            <wsdl:output message="tns:updateUserResponse" name="updateUserResponse"> </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getUser">
            <wsdl:input message="tns:getUserRequest" name="getUserRequest"> </wsdl:input>
            <wsdl:output message="tns:getUserResponse" name="getUserResponse"> </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="createUser">
            <wsdl:input message="tns:createUserRequest" name="createUserRequest"> </wsdl:input>
            <wsdl:output message="tns:createUserResponse" name="createUserResponse"> </wsdl:output>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="UsersPortSoap11" type="tns:UsersPort">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="getUsers">
            <soap:operation soapAction=""/>
            <wsdl:input name="getUsersRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="getUsersResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="deleteUser">
            <soap:operation soapAction=""/>
            <wsdl:input name="deleteUserRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="deleteUserResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="updateUser">
            <soap:operation soapAction=""/>
            <wsdl:input name="updateUserRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="updateUserResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getUser">
            <soap:operation soapAction=""/>
            <wsdl:input name="getUserRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="getUserResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="createUser">
            <soap:operation soapAction=""/>
            <wsdl:input name="createUserRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="createUserResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="UsersPortService">
        <wsdl:port binding="tns:UsersPortSoap11" name="UsersPortSoap11">
            <soap:address location="http://localhost:8080/ws"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>